src/main/java/com/brix/tc/zip/xml/ZipConstraints.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ZipConstraints">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ZIPConstraint" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="ZIPRangeEnd"/>
                            <xs:element type="xs:string" name="ZIPRangeStart"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>